.todos {
  background-image: url('assets/background.jpg');
  background-size: cover;

  min-height: 100vh;
  min-width: 100vw;
  padding: 10px;

  display: flex;
  align-items: start;
  gap: 20px;

  color: #151515;
}


